#poncho {
	 margin: 0;
	 width:100% ;
	 height:100% ;
	 
}
body {
	
background-color: black;
}
p {
	color: red;
}
@media all and (min-width: 0px) and (max-width: 900px){
		  
		   #poncho {
		   width:100%;

			}
		@media all and (min-width: 900px) {
		   #poncho {
		   width:100%;

			}
		