body {
	
    background-color: black ;
    font-family: "Arial Narrow";
    color: white;
}
h1 {
	color: #E5E8E8 ;
	font-size: 40px;
	font-weight: bold;
	font-family:arial;
}
.description img{
	background: white;
	border-radius:10px;
	float: right;
}
.description3 img{
	border-radius:10px;
	
	background: white;
	float: left;
	
}
.description2 img{
	background: white;
	border-radius:10px;
	float: auto;
}
.construccion img{
	background: white;
	border-radius:10px;
	
	float: right;
}
	
.womanat img{
    position:relative;
	background: white;
	border-radius:10px;
	float: auto;
	top:200px;
	left: 50px;
}
.pedregale img{
	position:relative;
	background: white;
	border-radius:10px;
	float: auto;
	top:200px;
	
}
.sanpedro img{
	position:relative;
	background: white;
	border-radius:10px;
	float: auto;
	top:200px;
}
.description10 p{
	position:relative;
	left:300px;
	top:200px;
	
	
}
.tramof img{
	position:relative;
	background: white;
	border-radius:10px;
	float: auto;
	top:200px;
}

.h3	{
	background-color:rgba(45, 45, 45, 0.1);
    padding:10px;
}

.pat {
	font-size: 27px;
	color:black;
	a:hover {
		color: blue;
	}


