@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
body h1{
	font-family: 'Oleo Script', cursive;
}
p {
	font-size :30px;
	font-family: 'Love Ya Like A Sister', cursive;
	color:#C336FC ;
}

nav {
	background:#B6D7F3 ;
	
}
nav ul{
	padding-top:10px;
}
nav ul a{
	text-decoration:none;
	color:#606C75 ;
	font-size:15px;
	font-family:verdana;
	padding:20px;
	
}
nav ul a:hover{
	background:red;
	color:black;
}
.kekes {
	text-align:center;
	background-color:orange;
	height:80px;
	color:white;
}
#keke2 {
	width:40%;
	padding:50px;
	
}
#heart{
	width:20%;
	padding:50px;
}

.fotomas {
	background-color:#FEF9E7;
}
.brokenh {
	background-color:#DAFEDC ;
}

.fotok {
	
	background-color:#D8F5ED;
}
#tano {
	width:20%;
	padding:50px;
}

@media screen and (max-width: 800px){
	#tano {
		width:80%;
		padding:right;
		
	}
	#keke2{
		width:80%;
	
		
	}
	#heart{
		width:80%;
	}
	
	
	
}

